/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* -------common style --------*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    /* margin-left: 150px;  */
   
}
.main-part{
    /* align-items: center; */
    margin-left: 12%;
}

/*----------- header------- */

.header-area{
    position: absolute;
    /* width: 1440px; */
    /* width: 100%; */
    height: 677px;
    left: 0px;
    top: 0px;
    
    background: #2D25A0;
   
}
.header-top{
    display: flex;
    /* width: 1160px; */
    height: 44px;
    font-weight: 500px;
    color: #FFFFFF;
    justify-content: space-between;
    flex-direction: row;
    /* align-items: center; */
    padding-top: 42px;
    padding-left: 156px;
    padding-right: 142px;
}
.header-top-left{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}
.header-top-left a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
   
}
.header-top-left a:hover{
    font-size: 18px;
    background-color: #E02C6D;
}
.header-top-right a{
    text-decoration: none;
    color: #FFFFFF; 
}
.icon{
    padding-right: 10px;
    padding-left: 10px;
}
.header-top-right {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 120px;
    height: 44px;
    font-size: 16px;
    background-color: #E02C6D;
}
.header-top-right:hover{
    width: 130px;
    font-size: 20px;
    /* padding: 10px 5px; */
    /* transform: scale(1); */
}
.header-bottom{
    display: flex;
    padding-left: 156px;
    
}
.header-title h1{
    font-weight: 700px;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}
.button{
    width: 168px;
    height: 44px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #E02C6D;
    border: #FFFFFF;
}

.button:hover{
    width: 172px;
    font-size: 20px;
    padding: 5px 5px;
    transform: scale(1);
}
.header-banner img{
    width: 556.01px;
    height: 438px; 
    padding-right: 124px;
    padding-top: 67px;
    padding-left: 102px;
    /* transition: transform 3s ease-in; */
}
.header-banner img:hover{
    transform: scale(1.1) ;
    transition: transform 1s ease-out;
}

/* ----------- Gallary------------ */

.gallary{
    width: 330px;
    height: 474px;
    margin-top: 70px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 747px;
    
}
.container{
    width: 330px;
    height: 456px;
    padding: 15px;
    margin: 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.elements{
    width: 300px;
    height: 426px;
    padding-left: 15px;
    padding-top: 10px;
}
.player img{
    width: 300px;
    height: 256px;
}
.img-info{
    width: 300px;
    height: 156px;
}
.img-info h3{
    font-size: 28px;
    margin-bottom: 0px;
}
.img-info p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400px;
}

/* --------------highlights---------*/
.highlights{
    display: grid;
    margin-top: 175px;
    padding-top: 1700px;
    grid-template-columns: repeat(2, 1fr);
}

.highlight-details{
    width: 466px;
    height: 309px; 
    

}
.highlight-img img{
    width: 567px;
    height: 427px;
}
/* ---------------- Rankings ------------- */
.rankings{
    width: 800px;
    height: 350px;
    margin-top: 50px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 0px;
    margin-left: 200px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 40px rgba(2, 2, 2, 0.192);
    display: flex;
}
.ranking-details{
    width: 300px;
    height: 320px;
}
.ranking-title{
    font-size: 30px;
}
.watch-link {
    text-decoration: none;
    color: whitesmoke;
    width:40px;
    height: 30px;
    padding: 10px 10px;
    
    border-radius: 10px;
}
.watch-link:hover {
    /* position: relative; */
    width: 45px;
}
.ranking-img{
    width: 400px;
    height: 350px;
    margin-left: 10px;
    transition: transform 2s ease-out;  
}
.ranking-img:hover{
    position: static;
    transform: scale(0.5);
}
/* ---------- footer -------------- */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 484px;
    height: 213px;
    padding-top: 100px;
    padding-left: 390px;
    padding-right: 481px;
    padding-bottom: 50px;
}
.footer-image img{
            width: 400px;
}
.footer-icon{
    width: 32px;
    height: 32px;
    padding-right: 14px;
}


/* ------------ midea query-------------------- */
/* mobile */

@media only screen and(max-width: 688px){
    body{
        overflow-x: hidden;
        margin: 2px 2px 2px 2px;
        padding: 2px 2px 2px 2px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .main-part{
        margin: 0px 0px;
    }
    .header-area{
        width: 100%;
        margin: 0px;
        padding: 5px;
        display: flex;
        flex-direction: column;

    }
    .header-top{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin:5px;
        justify-content: flex-end;

    }
    .header-top-left{
        margin-left: 5px;

    }
    .header-top-right{
        margin-right: 5px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .header-bottom{
        margin: 0px 0px 0px 0px;
        width: 100%;
        padding: 5px 5px;
        display: flex;
        flex-direction: column;
        
    }
    .header-title{
        margin-left: 5px;
        font-size: 36px;
        width: 50%;
    }
    .header-banner{
        width: 50%;
        padding-right: 50px;
       margin-left: -30px;
    }
    .gallary{
        width: 100%;
    }
    .container{
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
        margin: 2px 2px 2px 2px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .highlights{
        width: 100%;
        margin: 10px;
        padding: 10px;
        /* display: flex;
        flex-direction: column; */
        
    }
    .rankings{
        width: 80%;
        margin-left: 5px;
        margin-right: 5px;
        padding: 2px 2px;
    }
    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 30px;
        margin: 5px 5px;
    }   
    
}
    
